
<div class = "middlebox">
    
    <mat-card >
        <mat-card-title>Sign Up</mat-card-title>
        <form [formGroup] = "signUpForm">
            
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder = "First Name"  formControlName = "fname">
                <mat-error *ngIf = "signUpForm.get('fname').errors?.maxlength && 
                (signUpForm.get('fname').dirty || signUpForm.get('fname').touched) ">
                    Character Limit Exceeded
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder = "Last Name"  formControlName = "lname">
                <mat-error *ngIf = "signUpForm.get('lname').errors?.maxlength && 
                signUpForm.get('lname').touched">
                    Character Limit Exceeded
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder = "Email"  formControlName = "emailaddr">
                <mat-error *ngIf = "signUpForm.get('emailaddr').errors?.email">
                    Invalid Email
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput placeholder = "User Name"  formControlName = "username">
                <mat-error *ngIf = "signUpForm.get('username').errors?.maxlength && signUpForm.get('username').touched">
                    Character limit Exceeded
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder = "Phone No"  formControlName = "phone">
                <mat-error *ngIf = "signUpForm.get('phone').errors?.maxlength && signUpForm.get('phone').touched">
                    Character Limit Exceeded
                </mat-error>
                <mat-error *ngIf = "signUpForm.get('phone').errors?.error && signUpForm.get('phone').touched">
                    Only digits allowed
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput  placeholder = "Password" type = "password" formControlName = "password">
                <mat-error *ngIf = "signUpForm.get('password').errors?.maxlength && signUpForm.get('password').touched">
                    Character Limit Exceeded
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" [disabled] = "!signUpForm.valid" (click) = "fetchDetails()">Sign Up</button>
            
        </form>
        <mat-dialog-content>{{message}}</mat-dialog-content>
    </mat-card>
</div>