<h1 align="center"> Register Here </h1>


    <div>
        <p> First Name</p>
        <input type="text" placeholder="Enter First Name" [(ngModel)]="fname">
         <p *ngIf="fname.length > 10 ">Length excedded</p> 
    </div>
    <div>
        <p> Last Name</p>
        <input type="text" placeholder="Enter Last Name" [(ngModel)]="lname">
    </div>


    <div>
        <p> Username</p>
        <input type="text" placeholder="Enter Username" [(ngModel)]="username">
    </div>
    <div>
        <p>Email ID</p>
        <input type="text" placeholder="Enter Email ID" [(ngModel)]="emailaddr">
    </div>
    <div>
        <p>Phone</p>
        <input type="text" placeholder="Enter Phone Number" [(ngModel)]="phone">
    </div>
    <div>
        <p> Password </p>
        <input type="text" placeholder="Enter Password" [(ngModel)]="password">
    </div>


    <button [disabled]=validate() (click)="register()">Sign Up</button>

{{msg}}

<p class="message"> Already Registered? <a href="http://localhost:4200/login">Login</a></p>
