<div *ngIf="productImage">
   <h3>Name: {{ productImage.product.name }}</h3>
    <p>Description: {{ productImage.product.desc }}</p>
    <p>Age(In Months): {{ productImage.product.age }}</p>
    <p>Category: {{ productImage.product.category }}</p>
    <p>Date of availability: {{ productImage.product.doa }}</p>
    <p>Duration: {{ productImage.product.duration }}</p>
</div>
Message:
{{ availabilityMessage }}
<br>
{{ expiryMessage }}


<br><br><br>
<img src = "http://localhost:8080/{{productImage?.image}}" height = 200>

<button (click) = "goToProductUpdation()">Update Product</button>