<div *ngIf="product">
   <h3>Name: {{ product.name }}</h3>
    <p>Description: {{ product.desc }}</p>
    <p>Age(In Months): {{ product.age }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Date of availability: {{ product.doa }}</p>
    <p>Duration: {{ product.duration }}</p>
</div>
Message:
{{ availabilityMessage }}
<br>
{{ expiryMessage }}


<br><br><br>
<img src = "http://localhost:8080/{{product.image}}" height = 200>

<button (click) = "goToProductUpdation()">Update Product</button>