<div class = "middlebox">
    <mat-card>
        <mat-card-title>Image Uploading</mat-card-title><br>
        
        <br>
        <input  type='file'  (change)="fetchImage($event)">

        <br><br>
        <button mat-raised-button color = "accent" (click) = "goBackToProductAddition()">Back</button>
        <br><br>
        <button mat-raised-button color = "accent" (click) = "executeUpload()">Confirm</button>

        <br>
        <br>

        <img [src]="imageUrl" height="300" width = "450"> 
    </mat-card>
</div>